<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="Api">
            <directory>tests/Swagger</directory>
        </testsuite>
    </testsuites>
    <php>
        <env name="SWAGGER_JSON_URL" value="http://petstore.swagger.io/v2/swagger.json" />
    </php>
</phpunit>
