<phpunit bootstrap="vendor/autoload.php">
    <testsuites>
        <testsuite name="ResourceListing">
            <directory>tests/ResourceListing</directory>
        </testsuite>
        <testsuite name="ApiDeclaration">
            <directory>test/ApiDeclaration</directory>
        </testsuite>
    </testsuites>
</phpunit>
